<%- include ../common/header %>
<%- include ../common/new_left_menu %>

<div class="push page-content">

		  	<div class="row">
  				<div class="col-md-12">
  					<div class="content-box-large">
		  				<div class="panel-heading">
							<div class="panel-title">個案搜尋</div>
						</div>
		  				<div class="panel-body">
		  					<form method="post" action="/cases/search_api" class="form-horizontal" id="search_form" role="form">
								  
								  <div class="form-group">
								    <label for="sr_no" class="col-sm-2 control-label form_heading">服務使用者編號：</label>
								    <div class="col-sm-2">
								      <input type="text" class="form-control form_input_text" id="sr_no" name="sr_no" placeholder="">
								    </div>

								    <!-- <label for="hkic_no" class="col-sm-2 control-label form_heading">個案轉介日期：</label>
								    <div class="col-sm-2">
								      <input type="text" class="form-control form_input_text" id="date" name="date" placeholder="">
								    </div> -->

								    <label class="col-md-2 control-label" for="select-1">原定見證人:</label>
									<div class="col-md-2">
										<select class="form-control" name="witness">
											<option value="0"></option>
											<% witness.forEach(function(indi_witness) { %>
												<% if (indi_witness.position) { %>
													<option value="<%= indi_witness.id %>"><%= indi_witness.display_name %></option>
												<% } %>
											<% }) %>
										</select> 
	
									</div>
								  </div>

								  <br>

								  <div class="form-group">
								    <div class="col-sm-offset-11 col-sm-1">
								      <button id="btn_submit" class="btn btn-primary" style="float:right;">搜尋</button>
								    </div>
								  </div>
								</form>
							<hr>

							<div class="table-count">共有 <%= count %> 項記錄</div>

							<div style="overflow-x:auto;">
								<!-- <table class="table" data-toggle="table" data-pagination="true" data-show-pagination-switch="true" 	data-page-size="5"> -->
								<table class="table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="cases-table">
                					<thead>
					                  <tr>
					                  	<th>社署檔案編號</th>
					                    <th>服務使用者編號</th>
					                    <th class="no-sort">中文姓名</th>
					                    <th>英文姓名</th>
					                    <!-- <th>生份證號碼</th> -->
					                    <th class="no-sort">首日面談</th>
					                    <th class="no-sort">次日面談</th>
					                    <!-- <th>個案轉介日期</th> -->
					                    <th>原定見證人</th>
					                    <th>下次面見日子</th>
					                    <th>下次面見時間</th>
					                    <th class="no-sort"></th>
					                  </tr>
					                </thead>
					                <tbody>
					                    <% data.forEach(function(indi_case) { %>
					                    	<% if (indi_case.status == 0) { %>
						                    	<tr>
							                    	<form method="post" action="/cases/print" class="form-horizontal" id="submit_form" role="form">
							                    	  <td> <%= indi_case.ref_no %> <input type="hidden" name="ref_no" value="<%= indi_case.ref_no %>"></td>
							                    	  <% if (indi_case.sr_no !== null) { %>
								                      	<td> <%= indi_case.sr_no %> <input type="hidden" name="sr_no" value="<%= indi_case.sr_no %>"></td>
								                      <% } else { %>
								                      	<td></td>
								                      <% } %>
								                      <% if (indi_case.chinese_name !== null) { %>
								                      	<td> <%= indi_case.chinese_name %> </td>
								                      <% } else { %>
								                      	<td></td>
								                      <% } %>
								                      <td> <%= indi_case.english_name %> <input type="hidden" name="eng_name" value="<%= indi_case.english_name %>"> </td>
								                      <!-- <td> <%= indi_case.hkid %>(<%= indi_case.hkid_cd %>) </td> -->
								                      <% if (indi_case.wpi_first !== null) { %>
								                      	<td> <%= indi_case.wpi_first %> </td>
								                      <% } else { %>
								                      	<td></td>
								                      <% } %>
								                      <% if (indi_case.wpi_second !== null) { %>
								                      	<td> <%= indi_case.wpi_second %> </td>
								                      <% } else { %>
								                      	<td></td>
								                      <% } %>
								                      <!-- <% if (indi_case.wpi_first !== null) { %>
								                      	<td> <%= indi_case.enrollment_date %> </td>
								                      <% } else { %> 
								                      	<td></td>
								                      <% } %> -->

								                      <% if (indi_case.witness) { %>
								                      	<td> <%= indi_case.witness.display_name %></td>
								                      <% } else { %>
								                      	<td> </td>
								                      <% } %>

								                      <% if (indi_case.interview_date) { %>
								                      	<td> 
								                      		<%= indi_case.interview_date %> 
								                      	</td>
								                      <% } else { %>
								                      	<td> </td>
								                      <% } %>

								                      <% if (indi_case.interview_time) { %>
								                      	<td>
							                      			<% if (indi_case.interview_time.half_day == 0) { %>
							                      				上午
							                      			<% } else if (indi_case.interview_time.half_day == 1) { %> 
							                      				下午
							                      			<% } %>
							                      				<%= indi_case.interview_time.hour %>時<%= indi_case.interview_time.minutes %>分
								                      	</td>
								                      <% } else { %>
								                      	<td> </td>
								                      <% } %>

								                      <td> <button type="button" class="btn btn-primary print_button">列印</button> </td>	
							                      	</form>					                    
							                    </tr>  
							                <% } %> 
					                    <% }) %>
					                </tbody>				        
					              </table>
							</div>

							<hr>
							
		  				</div>
		  			</div>
  				</div>
  					
  			</div>
  		</div>
	</div>
</div>

<%- include ../common/footer %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script src="/js/custom.js"></script>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

	<!-- Latest compiled and minified Locales -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-zh-TW.min.js"></script>

    <script type="text/javascript">
    	$("#print_button").click(function(event) {
	      window.frames["form-iframe"].focus();
	      window.frames["form-iframe"].print();
	    })
	    $(".print_button").click(function(event) {
	      event.preventDefault();
	      
	      $(this).parent().siblings().filter("#submit_form").submit();

	    })

	    $("#back_button").click(function(event) {
	    	event.preventDefault();

	    	window.location = "/";
	    })

    </script>
    <link href="/datatables/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">

    <script src="/datatables/js/jquery.dataTables.min.js"></script>

    <script src="/datatables/js/dataTables.bootstrap.js"></script>
    <script>
    	$('#cases-table').dataTable({
    	  "order": [[ 8, "asc" ]],
    	  "bFilter": false,
    	  "bLengthChange" : false,
		  "pageLength": 10,
		  "language": {
	            "lengthMenu": "每頁顯示 _MENU_ 項記錄。",
	            "zeroRecords": "對不起，找不到任何記錄。",
	            "info": "正在顯示 _PAGES_ 頁中的第 _PAGE_ 頁。",
	            "infoEmpty": "沒有任何記錄。",
	            "infoFiltered": "(在 _MAX_ 項記錄中過濾得出結果。)",
	            "sSearch": "搜尋",
	            oPaginate: {
	            	sFirst: "第一頁", 
	            	sPrevious: "前一頁", 
	            	sNext: "下一頁", 
	            	sLast: "最後一頁"
	            }
	        },
	        columnDefs: [
		           { 
		           targets: 'no-sort',
				   orderable: false 
			   }
			]
		});
    </script>
    </body>
</html>